// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary:#333;
$secondary:#F7941D;
$breadcrumbs-padding:0px;
$breadcrumbs-even-child-padding:0px;